<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Ana Sayfa</a></li>
		        	<li><a href="/about">Hakkımda</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:odayibasi@gmail.com">email</a></li>
	        		<li><a href="https://medium.com/@odayibasi">medium</a></li>
	        		<li><a href="https://twitter.com/odayibasi">twitter</a></li>
	        		<li><a href="https://github.com/odayibasi">github.com/odayibasi</a></li>
				</ul>
			</footer>
		</body>
	</html>